<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381424965895-5dmtsrc7o27sarsg5162fc8ikgasbu9c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381424965895-5dmtsrc7o27sarsg5162fc8ikgasbu9c</string>
	<key>API_KEY</key>
	<string>AIzaSyAqBkrZQd25p2Fu7coYiGofUruDfmdHtC8</string>
	<key>GCM_SENDER_ID</key>
	<string>381424965895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mundiala.app</string>
	<key>PROJECT_ID</key>
	<string>mundiala-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mundiala-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381424965895:ios:19f4a539749a6fb1de8da2</string>
	<key>DATABASE_URL</key>
	<string>https://mundiala-app.firebaseio.com</string>
</dict>
</plist>